@charset "UTF-8";
html {
  height: 100%;
  width: 100%;
}
html .home-background {
  background-color: #d38801;
}
html .about-background {
  background-color: #01c1d3;
}
html .contact-background {
  background-color: #441fec;
}
html body {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: background-color 0.5s ease-in-out;
  color: white;
  display: flex;
  flex-direction: column;
}
html body header {
  flex: 0 0 auto;
  transition: background-color 0.5s;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 1%;
}
html body header nav {
  list-style: none;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background: none;
  color: white;
  font-family: "Source Code Pro", mono space;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 576px) {
  html body header nav {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  html body header nav {
    font-size: 2rem;
  }
}
@media (min-width: 1920px) {
  html body header nav {
    font-size: 2.5rem;
  }
}
html body header nav a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transform: translateY(-100%);
  position: relative;
  text-align: center;
  padding-bottom: 0.05%;
}
html body header nav a::before {
  content: "";
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid white;
  transform: scaleX(0);
}
html body header nav a:hover::before {
  transform: scaleX(1);
  transition: transform 0.2s;
}
html body header nav .animation {
  transition: transform 0.5s;
  transform: translateY(0);
}
html body header:hover {
  background-color: rgba(50, 50, 50, 0.5);
}
html body main {
  flex: 1 0 auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
html body main section {
  opacity: 0;
  display: none;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 5% 0 5%;
}
html body main #home h1 {
  font-family: "Poppins", sans-serif;
  margin: 1%;
  font-size: 5rem;
}
@media (min-width: 576px) {
  html body main #home h1 {
    font-size: 7.5rem;
  }
}
@media (min-width: 992px) {
  html body main #home h1 {
    font-size: 10rem;
  }
}
@media (min-width: 1920px) {
  html body main #home h1 {
    font-size: 15rem;
  }
}
html body main #home .qualifications {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
html body main #home h3 {
  font-family: "Hack";
  margin: 1%;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s;
}
@media (min-width: 576px) {
  html body main #home h3 {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  html body main #home h3 {
    font-size: 2rem;
  }
}
@media (min-width: 1920px) {
  html body main #home h3 {
    font-size: 2.5rem;
  }
}
html body main #home h3::before {
  content: "⬪ ";
}
html body main #home .name {
  opacity: 0;
  transition: opacity 0.3s;
}
html body main #home .opacity-animation {
  opacity: 100;
}
html body main #about h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  margin: 5%;
  opacity: 0;
  transition: opacity 0.3s;
}
@media (min-width: 576px) {
  html body main #about h1 {
    font-size: 7.5rem;
  }
}
@media (min-width: 992px) {
  html body main #about h1 {
    font-size: 10rem;
  }
}
@media (min-width: 1920px) {
  html body main #about h1 {
    font-size: 15rem;
  }
}
html body main #about h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Hack";
  font-size: 1.5rem;
  margin: 2%;
  opacity: 0;
  transition: opacity 0.5s;
}
@media (min-width: 576px) {
  html body main #about h3 {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  html body main #about h3 {
    font-size: 2rem;
  }
}
@media (min-width: 1920px) {
  html body main #about h3 {
    font-size: 2.5rem;
  }
}
html body main #about h3::before {
  margin: 2%;
  content: ">";
  font-size: inherit;
  font-weight: bold;
  transform: rotate(90deg);
  transition: transform 0.5s;
}
html body main #about #bio-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  justify-items: stretch;
  align-items: stretch;
}
html body main #about #bio-list .first-column {
  grid-column: 1/1;
}
html body main #about #bio-list .second-column {
  grid-column: 2/2;
}
html body main #about .opacity-animation {
  opacity: 100;
}
html body main #about .list-animation {
  opacity: 100;
}
html body main #about .list-animation::before {
  transform: rotate(0deg);
}
html body main #contact h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  margin: 5%;
  opacity: 0;
  transition: opacity 0.3s;
}
@media (min-width: 576px) {
  html body main #contact h1 {
    font-size: 7.5rem;
  }
}
@media (min-width: 992px) {
  html body main #contact h1 {
    font-size: 10rem;
  }
}
@media (min-width: 1920px) {
  html body main #contact h1 {
    font-size: 15rem;
  }
}
html body main #contact #contacts-list h2 {
  font-family: "Hack";
  font-size: 1.5rem;
  margin: 3%;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}
@media (min-width: 576px) {
  html body main #contact #contacts-list h2 {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  html body main #contact #contacts-list h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1920px) {
  html body main #contact #contacts-list h2 {
    font-size: 2.5rem;
  }
}
html body main #contact #contacts-list h2 a {
  color: white;
  margin: 0;
  padding: 0;
}
html body main #contact #contacts-list .list-animation {
  opacity: 100;
}
html body main #contact .opacity-animation {
  opacity: 100;
}

/*# sourceMappingURL=index.css.map */
