// icons
$fa-font-path: "./webfonts";
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";
// fonts
@font-face {
  font-family: "Hack";
  src: url("webfonts/hack-regular.woff2?sha=3114f1256") format("woff2"),
    url("webfonts/hack-regular.woff?sha=3114f1256") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("webfonts/hack-bold.woff2?sha=3114f1256") format("woff2"),
    url("webfonts/hack-bold.woff?sha=3114f1256") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("webfonts/hack-italic.woff2?sha=3114f1256") format("woff2"),
    url("webfonts/hack-italic.woff?sha=3114f1256") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url("webfonts/hack-bolditalic.woff2?sha=3114f1256") format("woff2"),
    url("webfonts/hack-bolditalic.woff?sha=3114f1256") format("woff");
  font-weight: 700;
  font-style: italic;
}
// mixins and breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 2560px;
// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
// Fonts
// title
$title-regular: 2.5rem;
$title-sm: 5rem;
$title-lg: 10rem;
$title-xl: 20rem;
@mixin title-font {
  font-size: $title-regular;
  @include sm {
    font-size: $title-sm;
  }
  @include lg {
    font-size: $title-lg;
  }
  @include xl {
    font-size: $title-xl;
  }
}
// body
$fs-regular: 1rem;
$fs-sm: 1.5rem;
$fs-lg: 2rem;
$fs-xl: 3rem;
@mixin body-font {
  font-size: $fs-regular;
  @include sm {
    font-size: $fs-sm;
  }
  @include lg {
    font-size: $fs-lg;
  }
  @include xl {
    font-size: $fs-xl;
  }
}

html {
  height: 100%;
  width: 100%;
  .home-background {
    background-color: #d38801;
  }
  .about-background {
    background-color: #01c1d3;
  }
  .projects-background {
    background-color: #800080;
  }
  .contact-background {
    background-color: #441fec;
  }

  body {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: background-color 0.5s ease-in-out;
    color: white;
    display: flex;
    flex-direction: column;

    header {
      flex: 0 0 auto;
      transition: background-color 0.5s;
      background-color: rgba(0, 0, 0, 0);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      margin: 0;
      padding: 1%;
      nav {
        list-style: none;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background: none;
        color: white;
        font-family: "Source Code Pro", mono space;
        @include body-font;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
          cursor: pointer;
          text-decoration: none;
          color: inherit;
          transform: translateY(-100%);
          position: relative;
          text-align: center;
          padding-bottom: 0.05%;
          &::before {
            content: "";
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-bottom: 3px solid white;
            transform: scaleX(0);
          }
          &:hover::before {
            transform: scaleX(1);
            transition: transform 0.2s;
          }
        }
        .animation {
          transition: transform 0.5s;
          transform: translateY(0);
        }
      }
      &:hover {
        background-color: rgba(50, 50, 50, 0.5);
      }
    }

    main {
      flex: 1 0 auto;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      section {
        opacity: 0;
        display: none;
        transition: opacity 0.5s;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 5% 0 5%;
      }

      #home {
        h1 {
          font-family: "Poppins", sans-serif;
          margin: 1%;
          @include title-font;
        }
        .qualifications {
          margin-top: 1%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
        h3 {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: "Hack", monospace;
          margin: 1%;
          @include body-font;
          opacity: 0;
          transition: opacity 0.5s;
          i {
            margin-right: 1rem;
          }
        }
        iframe {
          opacity: 0;
          transition: opacity 0.5s;
        }
        .personal {
          h3 {
            flex-grow: 1;
            &:before {
              @extend %fa-icon;
              @extend .fa-solid;
              font-size: 1rem;
              margin-right: 1rem;
              content: fa-content($fa-var-circle);
            }
          }
        }
        .name {
          opacity: 0;
          transition: opacity 0.3s;
        }
        .opacity-animation {
          opacity: 100;
        }
      }

      #about {
        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        img {
          border-radius: 50%;
          height: 6em;
          margin-bottom: 3%;
          opacity: 0;
          transition: opacity 0.5s;
          @include sm {
            height: 12em;
          }
          @include lg {
            height: 16em;
          }
          @include xl {
            height: 18em;
          }
          width: auto;
          aspect-ratio: 1/1;
          object-fit: cover;
        }
        h1 {
          text-align: center;
          font-family: "Poppins", sans-serif;
          @include title-font;
          margin: 5% 5% 2% 5%;
          opacity: 0;
          transition: opacity 0.3s;
        }
        h3 {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: "Hack", monospace;
          @include body-font;
          margin: 2%;
          opacity: 0;
          transition: opacity 0.5s;
          &::before {
            @extend %fa-icon;
            @extend .fa-solid;
            font-size: 1rem;
            margin-right: 1rem;
            content: fa-content($fa-var-caret-right);
            font-size: inherit;
            font-weight: bold;
            transform: rotate(90deg);
            transition: transform 0.5s;
          }
        }
        #bio-list {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto auto auto;
          justify-items: stretch;
          align-items: stretch;
          .first-column {
            grid-column: 1 / 1;
          }
          .second-column {
            grid-column: 2 / 2;
          }
        }
        .opacity-animation {
          opacity: 100;
        }
        .list-animation {
          opacity: 100;
          &::before {
            transform: rotate(0deg);
          }
        }
      }
      #projects {
        h1 {
          text-align: center;
          font-family: "Poppins", sans-serif;
          @include title-font;
          margin: 5%;
          opacity: 0;
          transition: opacity 0.3s;
        }
        #projects-list {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .project {
          opacity: 0;
          transition: opacity 0.5s;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        h3 {
          font-family: "Hack", monospace;
          text-align: center;
          @include body-font;
          margin: 2%;
        }
        p {
          font-family: "Hack", monospace;
          text-align: center;
          @include body-font;
          margin: 2%;
        }

        .opacity-animation {
          opacity: 100;
        }
      }
      #contact {
        h1 {
          text-align: center;
          font-family: "Poppins", sans-serif;
          @include title-font;
          margin: 5%;
          opacity: 0;
          transition: opacity 0.3s;
        }
        #contacts-list {
          h2 {
            @extend %fa-icon;
            font-size: 1rem;
            margin: 3%;
            width: 100%;
            opacity: 0;
            transition: opacity 1s;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            a {
              font-family: "Hack", monospace;
              @include body-font;
              color: white;
              margin: 0;
              padding: 0;
              transition: text-decoration-color 300ms;
            }
            a:hover {
              text-decoration-color: rgba(0, 0, 0, 0);
            }
            &:before {
              margin-right: 1rem;
            }
          }
          .email:before {
            @extend .fa-solid;
            content: fa-content($fa-var-envelope);
          }
          .cv:before {
            @extend .fa-solid;
            content: fa-content($fa-var-align-center);
          }
          .github:before {
            @extend .fa-brands;
            content: fa-content($fa-var-github);
          }
          .phone:before {
            @extend .fa-solid;
            content: fa-content($fa-var-phone);
          }
          .list-animation {
            opacity: 100;
          }
        }
        .opacity-animation {
          opacity: 100;
        }
      }
    }
  }
}
