@charset "UTF-8";
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

html .home-background {
  background-color: #d39b01;
}

html .about-background {
  background-color: #01c1d3;
}

html .contact-background {
  background-color: #441fec;
}

html body {
  margin: 0;
  padding: 0 5% 0 5%;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

html body header {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 1%;
  height: 5%;
}

html body header nav {
  list-style: none;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background: none;
  color: white;
  font-family: "Source Code Pro", mono space;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body header nav a {
  text-decoration: none;
  color: inherit;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: relative;
  text-align: center;
  padding-bottom: 0.05%;
}

html body header nav a::before {
  content: "";
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

html body header nav a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

html body header nav .animation {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

html body header:hover {
  background-color: rgba(50, 50, 50, 0.5);
}

html body section {
  height: 93%;
  width: 100%;
  padding-top: 7%;
}

html body #home {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body #home h1 {
  font-family: "Poppins", sans-serif;
  font-size: 10rem;
  margin: 1%;
}

html body #home .qualifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body #home h3 {
  font-family: "Hack";
  font-size: 3rem;
  margin: 1%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

html body #home h3::before {
  content: "⬪";
}

html body #home .name {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

html body #home .opacity-animation {
  opacity: 100;
}

html body #about {
  font-size: 96px;
  margin-top: 5%;
  color: white;
}

html body #about h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 10rem;
  margin: 5%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

html body #about h3 {
  font-family: "Hack";
  font-size: 3rem;
  margin: 2%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

html body #about h3::before {
  display: inline-block;
  margin: 2%;
  content: "˃ ";
  font-weight: bold;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

html body #about .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body #about .opacity-animation {
  opacity: 100;
}

html body #about .list-animation {
  opacity: 100;
}

html body #about .list-animation::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

html body #contact {
  font-size: 96px;
  margin-top: 5%;
  color: white;
}

html body #contact h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 10rem;
  margin: 5%;
}
/*# sourceMappingURL=index.css.map */